{% extends "blog_stuff/base.html" %} 

{% block header %}
    <h2>{{title}}</h2>
{% endblock header %}


{% block content %}

<h3>
    <small>
        <a href="{% url 'blog_stuff:new_entry' title.id %}">Add new entry</a>
    </small>
</h3>
    
<ul>
    {% for text in texts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    {{ text.date_added }}
                    <small>
                        <a href="{% url 'blog_stuff:edit_entry' text.id %}">
                            edit entry
                        </a>
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                {{ text.text|linebreaks }}
            </div>
        </div>
        {% empty %}
        <li> Ainda não há textos nesse tópico </li>
    {% endfor%}
</ul>


{% endblock content %}