{% extends "blog_stuff/base.html" %}

{% block header %}
    <h1>
        Títulos:
    </h1>
{% endblock header %}

{% block content %}
    <ul>
        {% for title in titles %}
        <li>
            <h3>
                <a href="{% url 'blog_stuff:texts' title.id %}">{{title}}</a>
            </h3>
        </li>
        {% empty %}
        <li>Nenhum título foi adicionado ainda</li>
        
        {% endfor %}
    </ul>
    
    <h3>
        <a href="{% url 'blog_stuff:new_topic' %}">Add New Topic</a>
    </h3>

{% endblock content %}